/* Created by: Catherine Vu
* Created on: March 25 2025
* This file contains the CSS for index.html
*/

body {
  background-color: #e8abd5;
}

h1 {
  background-color: rgb(255, 132, 220);
  color: hsl(0, 0%, 100%);
  padding: 40px;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

p {
  background-color: #f0f;
}